.about-text {
  border-top: 1px solid #E3E5E4;
  background-color: #F8F8FA;
  font-size: 14px; }
  .about-text .about-wrap {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 40px; }
    .about-text .about-wrap p {
      margin-bottom: 0px; }
    .about-text .about-wrap .about-title {
      font-size: 24px;
      font-weight: 600; }
    .about-text .about-wrap .about-desc {
      max-width: 800px;
      line-height: 1.5;
      text-align: justify; }
